body {
    font-family: Arial, sans-serif;
}

table {
    width: 90%;
    margin: 0 auto;
    border-collapse: collapse;
}

th,
td {
    padding: 10px;
    border: 1px solid #ddd;
}

th {
    background-color: #f4f4f4;
}

form {
    width: 90%;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
}

input[type="text"] {
    padding: 5px;
    margin-right: 10px;
}

button {
    padding: 5px 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}