<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Database Management</title>
    <style>
        body {
            font-family: Arial, sans-serif;
        }

        table {
            width: 50%;
            margin: 0 auto;
            border-collapse: collapse;
        }

        th,
        td {
            padding: 10px;
            border: 1px solid #ddd;
        }

        th {
            background-color: #f4f4f4;
        }

        a {
            text-decoration: none;
            color: #007BFF;
        }
    </style>
</head>

<body>
    <h1 style="text-align: center;">Apartment Database Management</h1>
    <table>
        <thead>
            <tr>
                <th>Table Name</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {{ table_list }}
        </tbody>
    </table>
</body>

</html>